.container {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 50%;
}

.form-control {
  font-family: Arial, sans-serif;
  font-size: 18px;
}